@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

body {
  width: 100vw;
  background: var(--body-bg-color);
}

a {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: var(--purple);
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

#container {
  width: 300px;
  margin: 0 auto;
}

#perfil {
  padding-top: 50px;  
  width: 300px;
  margin: 0 auto;
}

#perfil img {
margin: 0 auto;
border-radius: 50%;
border: 2px solid var(--purple);
padding: 5px;
width: 150px;
height: 150px;
display: block;
}

#perfil a {
  margin: 0 auto;
  display: block;
  font-weight: 300;
  text-align: center;
  }

#profile-pic img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

ul {
  list-style: none;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

#linktree li {
  border: 2px solid var(--purple);
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  margin: 5px;
}


#icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#icons li {
  display: inline;
  width: 24px;
  height: 24px;
  margin:  10px;
  }



